# Ignore node_modules folder
node_modules/

# Ignore logs folder
logs/
*.log

# Ignore environment files (to avoid sharing sensitive data)
.env

# Ignore build output directories
/dist
/build

# Ignore any Docker-related files
Dockerfile
.dockerignore

# Ignore IDE and editor directories
.vscode/
.idea/

# Ignore test files and folders
/tests/
test/

# Ignore Git files
.git/
.gitignore
